body {
  padding-top: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

body .navbar-brand {
  padding: 15px 0px;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.list-group-item {
    font-weight:bold;
    margin-bottom:5px;
    border:0;
}

.badge {
    color:#000;
    background-color:#FFF;
    border-radius:0;
}

.add-review {
    width:100%;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 40px;
}

.jumbotron {
    margin-bottom: 40px;
    color: #2A363B;
    background-color: #f9f9f9;
    border-radius: 0px;
    margin: 40px;
}
