<div class="wrapper">
  <h1>{{name}}</h1>

    <div class="row product-tile">
      {{#each products}}
        <div class="col-xs-6 col-md-3 product-media"> 
            <a href="/#/products/{{id}}">
                <img src="{{thumbnail}}">
                <div class="product-caption">
                    {{name}}
                </div>
            </a>
        </div>
      {{/each}}
    </div>

</div>
