<div class="wrapper">
  <h1>Add a category</h1>
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
