<div class="wrapper">
  <h1>Add a product</h1>
  <form role="form">
    <div class="form-group">
      <label for="name">Name</label>
      <select class="form-control" id="name" placeholder="Enter a name..."></select>
    </div>

    <div class="form-group">
      <label for="insta">Instagram Tag</label>
      <select class="form-control" id="insta" placeholder="Enter the Instagram Tag for this product"></select>
    </div>

    <div class="form-group picker" id="photo-selector">
      
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
