<a href="" class="list-group-item list-group-item-{{type}} review-item">
  <span class="badge badge-simple">{{count}}</span>
  {{text}}
  <div class="overlay">
    <span class="agree">FACT!</span>
  </div>
</a>
